<%- include("partials/header.ejs") %>

<div class="heading-container">
    <div class="tile-title">
        <h1>
            <%= blog.title %>
        </h1>
    </div>
    <div class="tile-date">
        <% 
            var date = blog.date.getDate().toString() + "/" + blog.date.getMonth().toString() + "/" + blog.date.getFullYear().toString();
        %>
        <%= date %>
    </div>
    <div class="tile-author">
        <%= blog.author %>
    </div>
    <div class="tile-rating">
        <div class="stars s<%= Math.round(blog.rating) %>">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
        </div>
    </div>
</div>
<div class="content-container">
    <%- content %>
</div>
<div class="button-container">
    <a href="/article/<%= blogId %>/rate">
        <button class="btn-1">Rate Blog</button>
    </a>
</div>

<script src="/js/article.js"></script>
<script src="https://kit.fontawesome.com/49b78285c5.js" crossorigin="anonymous"></script>

<%- include("partials/footer.ejs") %>